html,
body {
  background: var(--color-gray-100);
  height: 100%;
}

@responsive {
  .transition-default {
    @apply duration-300;
    @apply ease-in-out;
    transition-property:
      background-color,
      border-color,
      color,
      fill,
      stroke,
      opacity,
      box-shadow,
      transform,
      overflow-color;
  }

  .hoverable {
    @apply transition-default;
    -webkit-tap-highlight-color: transparent;
  }

  .focusable {
    @apply transition-default;
    outline: 1px solid color-mod(var(--color-pink-500) a(0%));
    outline-offset: -3px;
  }

  .focusable:focus {
    outline-color: var(--color-pink-500);
  }

  .outline-offset-outer {
    outline-offset: 2px;
  }

  .outline-none:focus {
    outline: 0;
  }
}
